html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #090909;
  background-color: #f6f9ee;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading_container h2 {
  font-weight: bold;
  text-transform: uppercase;
}

/* Seccion 1 */
.hero_area {
  height: calc(100vh - 0px);
  background: rgb(144,74,219);
  background: linear-gradient(90deg, rgba(144,74,219,1) 15%, rgba(195,162,229,1) 35%, rgba(246,249,238,1) 80%); 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.navbar-brand img {
  width: 120px;
  margin-top: 13%;
}
/* Fin seccion 1 */


/* Seccion 2 */
.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .row > div {
  position: unset;
}

.slider_section .detail-box h1 {
  color: #f6f9ee;
  font-weight: bolder;
}

.slider_section .detail-box p {
  color: #ffffff;
  margin-top: 15px;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 45px -5px 0 -5px;
}

.slider_section .detail-box .btn-box a {
  text-align: center;
  width: 165px;
  font-size: 15px;
  margin: 5px;
}

.slider_section .detail-box .btn-box .btn-1 {
  display: inline-block;
  padding: 10px 0;
  background-color: #66349a;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 0;
}

.slider_section .detail-box .btn-box .btn-1:hover {
  background-color: transparent;
  border-color: #66349a;
  color: #66349a;
}

.slider_section .detail-box .btn-box .btn-2 {
  display: inline-block;
  padding: 10px 0;
  background-color: #ffffff;
  color: #252525;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 0;
}

.slider_section .detail-box .btn-box .btn-2:hover {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

.slider_section .img-container .img-box img {
  width: 100%;
}

.experience_section {
  height: calc(100vh - 0px);
}

.experience_section .carrusel {
  width: 450px;
  align-self: center;
}

.carousel-control-prev, .carousel-control-next {
  width: 50px; /* Ancho del botón */
  height: 50px; /* Alto del botón */
  border-radius: 50%; /* Forma circular */
  background-color: #66349a; /* Fondo blanco semitransparente */
  border: 2px solid #141414; /* Borde del botón */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /* Posiciona los botones fuera de la imagen */
  top: 50%; /* Centra verticalmente */
  transform: translateY(-50%); /* Ajusta el desplazamiento */
}

.carousel-control-prev {
  left: -60px;
}

.carousel-control-next {
  right: -60px;
}

.carousel-item {
  scroll-snap-align: start;
  flex-shrink: 0;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
}

.experience_section {
  display: grid;
  grid-template-columns: 1fr 1fr; /* El carrusel ocupa 2 partes y el texto 1 parte */
  align-items: start; /* Alinea el carrusel y el texto en la parte superior */
  gap: 30px;
  justify-content: center;
  padding-left: 150px;
}

.experience_section .detail-box {
  align-items: start;
  text-align: left;
  width: 100%;
}

.experience_section .detail-box p{
  margin-top: 20px;
}
/* Fin seccion 2 */


/* Seccion 3 */
.category_section {
  height: calc(100vh - 0px);
  background-color: #141414;
  color: #f6f9ee;
  text-align: center;
}

.category_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
}

.category_section .heading_container h2 {
  position: relative;
  top: -50px;
  border-bottom: 1px solid #ffffff;
}

.textolargo{
  position: relative;
  top: -23px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category_section .category_container {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  row-gap: 25%; /* Espacio entre filas */
  column-gap: 8.75%; /* Espacio entre columnas */
  justify-content: start; /* Alinea las columnas a la izquierda */
}

.category_section .box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5%;
}

.category_section .img-box {
  margin-right: 15px; /* Espacio entre la imagen y el texto */
  width: 120px; /* Tamaño fijo de la imagen */
  height: auto;
}

.category_section .geaequipo {
  width: 190px;
  text-align: left;
  padding-left: 60px;
}


.img-box img{
  width: 175px;
}
/* Fin Seccion 3 */


/* Seccion 4 */
.info_section {
  position: relative;
  background-color: #66349a;
  color: #f6f9ee;
}

.info_section .heading_container {
  margin-bottom: 45px;
}

.info_section h5 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.info_section .info_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 75px;
}

.info_section .info_top .info_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_top .info_logo img {
  width: 65px;
}

.info_section .info_top .info_logo span {
  color: #f6f9ee;
  font-weight: bold;
  font-size: 32px;
}

.info_section .info_top .social_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .info_top .social_box a {
  margin: 0 10px;
}

.info_section .info_top .social_box a img {
  width: auto;
  height: auto;
  max-width: 30px;
  max-height: 30px;
}

.info_section a {
  text-transform: none;
}

.info_section ul {
  padding: 0;
}

.info_section ul li {
  list-style-type: none;
  margin: 3px 0;
}

.info_section ul li a {
  color: #ffffff;
}

.info_section .info_link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_form form input {
  outline: none;
  width: 100%;
  padding: 7px 10px;
}

.info_section .info_form form button {
  display: inline-block;
  padding: 8px 40px;
  background-color: #ff4f5a;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 0;
  border: 1.5px solid #ffffff;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 15px;
}

.info_section .info_form form button:hover {
  background-color: transparent;
  border-color: #ff4f5a;
  color: #ff4f5a;
}

.info_section .info_contact .link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
  color: #ffffff;
}

.info_section .info_contact .link-box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 45px;
  min-height: 45px;
  margin-right: 20px;
}

.info_section .info_contact .link-box .img-box img {
  width: auto;
  height: auto;
  max-width: 30px;
  max-height: 30px;
}

/* Fin seccion 4 */