@font-face {
    font-family: 'Calculator';
    src: url(../Retro\ Gaming.ttf);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

header {
    background-color: black;
    padding: 20px 0;
    text-align: center;
    border-bottom: 6px solid #66349a;
}

header h1 {
    font-family: 'Calculator';
    margin: 0;
    color: white;
    text-shadow: -5px 5px #66349a;
}

header a {
    font-size: 20px;
    font-family: 'Calculator';
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.mediciones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.mediciones .fila1, .mediciones .fila2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mediciones h1 {
    color: white;
    border: 6px solid white;
    box-shadow: -5px 5px #66349a;
    text-shadow: -5px 5px #66349a;
    font-family: 'Calculator';
    padding: 10px;
    margin: 5px;
    text-align: center;
}

@media (max-width: 768px) {
    .mediciones {
        grid-template-columns: 1fr;
    }
}

.logogea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.logogea img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: black;
    border-top: 6px solid #66349a;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
    font-family: 'Calculator';
    text-transform: uppercase;
    font-size: 18px;
}